.PreDistance, .CustDistance, .pace, .flipCustDistance, .submit-block, .chkCustDist {
	display: block;
	padding: 0.2em 1em;
}
.hidden {
	display: none;
}
#ul-settings > li.hide {
	visibility: hidden;
}

.collapse-legend {
	max-width: 340px;
	display: none;
}

legend {
	font-weight: 400;
	padding-left: 0;
}

h3 {
	padding: 10px 30px 10px 0;
}
th.right, td.right {
	text-align: right;
}
label.ui-submit {
	display: none;
}
.submitted {
	color: blue;
}
.right {
	float: right;
	margin-right: 0;
	display: inline-block;
	.right:after { 
	   content: "."; 
	   visibility: hidden; 
	   display: block; 
	   height: 0; 
	   clear: both;
	}
}
.left{
	float: left;
	margin-left: 0;
	display: inline-block;
	.left:after { 
	   content: "."; 
	   visibility: hidden; 
	   display: block; 
	   height: 0; 
	   clear: both;
	}
}

.ui-table-columntoggle-btn {
	display: none;
}

.message, .error {
	min-height: 1em;
}

.message i, .error i, .info i{
	-webkit-animation:none;
	font-size: 1em;
	line-height: 1.1em;
}

.about-pad {
	padding-left: 24px; 
}
.results-bar {
	text-align: center;
}

.results-bar span {
	font-size: .7em;
}

#results-block-b.ui-block-b, #results-block-c.ui-block-c {
	margin-bottom: 1em;
	border-left: 1px solid #6dcaec;
}
.ui-bar-b {
	border-bottom: 1px solid #6dcaec;
}

.ui-bar {
	padding: .4em 5px;
}

#ui-btn-share {
	position: absolute;
	top: 3px;
	right: 60px;
}

#ui-btn-menu {
	position: absolute;
	top: 3px;
	right: 10px;
}

.menu-list {
	min-width: 210px;
}

.ui-body-b form .infobtn {
	display: inline-block;
	line-height: 1em;
	margin: 0;
	background-color: rgba(255,255,255,0.0);
	border-top: none;
	border-bottom: none;
	border-right: none;
}

.ui-popup-screen {
	background-color: rgba(0,0,0,0.1);
}

#popupinfo-popup, #popupWeight-popup, #popupAge-popup, #popupGender-popup{
	border: solid 1px #ffffff;
}

.ui-popup.ui-body-b {
	background: #333 !important;
}


.h5popup {
	padding: 5px 1em;
	margin: 0;

}

.ui-li-divider {
	line-height: 1.1em;
	font-weight: 100; 
	font-size: 1.25em;
	padding: .8em 15px;
}

.ui-body-b .ui-popup .ui-title {
	
	padding: 7px 7px 7px 30px;
}

.ui-input-text.ui-body-b::-webkit-input-placeholder {
	color: rgba(255,255,255, 0.4)
}