.lone-runner-ico:before {
  background-image: url( "/static/webfurniture/sole-bk.png" );
  background-size: 18px 18px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .lone-runner-ico:before {
    background-image: url( "/static/webfurniture/sole-bk-HD.png" );
    background-size: 18px 18px;
  }
  
}



.PreDistance, .CustDistance, .pace, .flipCustDistance, .submit-block, .chkCustDist {
	display: block;
	padding: 0.7em 15px;
}
.hidden {
	display: none;
}
#ul-settings > li.hide {
	visibility: hidden;
}

.collapse-legend {
	max-width: 340px;
	display: none;

}

legend {
	font-weight: 400;
	padding-left: 0;
}

h3 {
	padding: 10px 30px 10px 0;
}
th.right, td.right {
	text-align: right;
}

.submitted {
	color: blue;
}
.right {
	float: right;
	margin-right: 0;
	display: inline-block;
	.right:after { 
	   content: "."; 
	   visibility: hidden; 
	   display: block; 
	   height: 0; 
	   clear: both;
	}
}

.ui-table-columntoggle-btn {
	display: none;
}

.message, .error {
	min-height: 1em;
}

.message i, .error i, .info i{
	-webkit-animation:none;
	font-size: 16px;
	line-height: 1.1em;
}