{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}

 <div class="inset">
	<p><a href="/">LoneRunner</a> is a running pace calculator and conversion app, designed to help fellow runners and enthusiasts understand units and their conversions to and fro min per km and min per mile. Further it helps to determine running pace for common distances such as 400 metres, 800 metres, 1500 metres (&quot;metric mile&quot;), 1600 metres, 5k, 10k, Half Marathon and Marathon.
	</p>
	<br>
	<p>So next time your coach says to you: <i>&quot;Run the next 400m at 1:30min&quot;</i>, you'll exactly know that you need to stick to pace of 3:45 min/km (6:02 min/mile)... </p>
	<div class="message info about-pad">
		
		
			
		<h3>Lone Runner App</h3>
		<p>Version 3</p>
		<p>{{build_no}} GMT</p>
		
	</div>
	<p>Built using the following <a href="/credits/">Framework and Libraries</a></p>
	<div>
	<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">LoneRunner</span> by <a  href="https://plus.google.com/102364612517935766716?rel=author"  rel="author">Petr Faitl</a> is licensed under a <a rel="license"  href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US" >Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
	</div>
 
 <div class='showastabs center nobg'>
   <a href='/' data-rel='back' data-icon='chevron-left' data-iconpos='left' data-role='button' data-inline='true'>Back</a>
   
</div>
</div>
{% endblock %}

