<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta charset="utf-8" />
	<title>LoneRunner - {% block title %}{% endblock title %}</title>
	<meta name="keywords" content="running, pace, converter, calculator, min/km, min/mile, 400m, 800, 1000m, 1200m, 1600m, 5k, 5000m, 10k, 10000m, distance, speed, time, units, runner " />
	<meta name="description" content="Running pace converter and calculator app. Convert min/km to min/mile pace and back. Running equivalent pace calculator for distances from 400m, to 5k and 10k distances."/>
	<meta name="msvalidate.01" content="3A6B12026A5ABCBF99D1DC254A1EA5E7" />
	<meta name="author" content="Petr Faitl"/>
    <meta property="og:url" content="http://lone-runner.appspot.com"/>
	<meta property="og:title" content="Running Pace Calculator App"/>
	<meta property="og:type" content="article"/>
	<meta property="og:image" content="http://lone-runner.appspot.com/static/LoneRunner.png"/>
	<meta property="og:description" content="Running pace converter and calculator app. Convert min/km to min/mile pace and back. Running equivalent pace calculator for distances from 400m, to 5k and 10k distances."/>

	

	<!-- FontAwesome - http://fortawesome.github.io/Font-Awesome/ -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />


	<!-- jQueryMobileCSS - original without styling -->
    <link rel="stylesheet" href="/static/css/jquerymobile.css" />

	<!-- nativeDroid core CSS -->
    <link rel="stylesheet" href="/static/css/jquerymobile.nativedroid.css" />

	<!-- nativeDroid: Light/Dark -->

    <link rel="stylesheet" href="/static/css/jquerymobile.nativedroid.dark.css"  id='jQMnDTheme' />

	<!-- nativeDroid: Color Schemes -->
    <link rel="stylesheet" href="/static/css/jquerymobile.nativedroid.color.blue.css" id='jQMnDColor' />
	<!-- my overrides -->
    <link rel="stylesheet" href="/static/css/lr.css" />

	<!-- jQuery / jQueryMobile Scripts -->
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script> 

    <script>
    $.mobile.ajaxEnabled = false;
    </script>

 
	
</head>
<body>
	<div id="page1" data-role="page" data-theme="b">


<div data-role="panel" id="mypanel" data-theme="b">
        <ul data-role="listview">
            <li data-role="list-divider" data-ajax="false"><a href="/pace-calculator/">LoneRunner</a></li>
            <li data-icon="time" ><a href="/pace-calculator/">Pace Calculator</a></li>
            <li data-icon="book" data-ajax="false"><a href="/units-and-distances/">Units &amp; Distances</a></li>
            <li data-icon="share" data-ajax="false"><a href="/share/">Share</a></li>
            <li data-icon="info-sign" data-ajax="false"><a href="/credits/">Licenses &amp; Credits</a></li>
        </ul>
</div>



<div data-role="popup" id="menu">
    <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="b">
                    
                    <li><a href="/settings/" data-ajax="false">Settings</a></li>
                    <li><a href="/help/" data-ajax="false">Help</a></li>
                    <li><a href="/about/" data-ajax="false">Send Feedback</a></li>
                </ul>
</div>


<div data-role="header" data-theme="b" data-position="fixed" data-tap-toggle="false">
    <a href="#mypanel"><i class='icon-angle-left'></i></a>
    <h1>{{ self.title() }}</h1>
    <a href="#menu" data-rel="popup" data-inline="true"  class="ui-btn-right"><i class='icon-ellipsis-vertical'></i></a>
</div>
	
		<a name="top"></a>
		<div data-role="content" >
			
				  
				  
				  {% block content %}
				  {% endblock %}
				  
				  
			
		</div>

{% include "footer.html" %}
	</div>
</body>
</html>