<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width" />
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
	<link type="text/css" rel="stylesheet" href="/static/buttons.css" />
	<meta name="keywords" content="running, pace, converter, calculator, min/km, min/mile, 400m, 800, 1000m, 1200m, 1600m, 5k, 5000m, 10k, 10000m, distance, speed, time, units, runner " />
	<meta name="description" content="Running pace converter and calculator app. Convert min/km to min/mile pace and back. Running equivalent pace calculator for distances from 400m, to 5k and 10k distances."/>
	<meta name="msvalidate.01" content="3A6B12026A5ABCBF99D1DC254A1EA5E7" />
	<meta http-equiv="content-language" content="en">
	<meta name="author" content="Petr Faitl"/>
    <meta property="og:url" content="http://lone-runner.appspot.com"/>
	<meta property="og:title" content="Running Pace Calculator App"/>
	<meta property="og:type" content="article"/>
	<meta property="og:image" content="http://lone-runner.appspot.com/static/LoneRunner.png"/>
	<meta name="image" content="http://lone-runner.appspot.com/static/LoneRunner.png"/>
	<meta property="og:description" content="Running pace converter and calculator app. Convert min/km to min/mile pace and back. Running equivalent pace calculator for distances from 400m, to 5k and 10k distances."/>
	<title>LoneRunner</title>

	<script language="javascript" type='text/javascript'>

 
        function ClearAllControls() {
        	{
              for (i=0; i<document.forms[0].length; i++)
              {
                    doc = document.forms[0].elements[i];
                    switch (doc.type) 
                    {
                        case "text" :
                                doc.value = "";
                                break;
               
                          case "select-one" :
                                var myselect=document.getElementById("selUnits")

						        myselect.add(new Option("Select Units", "Select Units"), myselect.options[0])
						        myselect.remove(myselect.options[1])
                                break;                      

                                    
                          default :
                                break;
                    }
              }
        }

	        
	  		
	}
 
	</script>
</head>
<body>
	<div id="wrap">
  <h1 class="main-title">
    LoneRunner
  </h1>
<div id="main">
  {% block content %}
  {% endblock %}
</div>
</div>
{% include "footer.html" %}
</body>
</html>