{% extends "base.html" %}

{% block content %}
<h2><span class="time"></span>Pace Calculator </h2>

<form method="post" name="frm1">
			
			
			<label for="txtPace" class="pace">Pace or Time</label>
				<input type="text" name="txtPace" id="txtPace" autofocus="true" placeholder="Time (hh:)mm:ss" data-clear-btn="true" value="{{txtPace}}"/>
				<div class="error">{{error}}</div>
			
			<div id="PreDistance" class="PreDistance">
			<label for="selUnits" class="units">Units or Distance</label>
				<select name="selUnits" id="selUnits">
					<!-- <option selected value="{{selUnits}}">{{selUnits}}</option> -->
					<!-- <option value="">Select Units or Distance</option> -->
					<optgroup label="By Pace">
						<option value="min/km">min/km</option>
						<option value="min/mile">min/mile</option>
					</optgroup>
					<optgroup label="By Distance">

						<option value="400m">400m</option>
						<option value="800m">800m</option>
						<option value="1200m">1200m</option>
						<option value="1500m">1500m</option>
						<option value="1600m">1600m</option>
						<option value="5k">5k</option>
						<option value="10k">10k</option>
						<option value="Half">Half</option>
						<option value="Marathon">Marathon</option>					
					</optgroup>
				</select>
			</div>
				<div class="error">{{error_units}}</div>
				
<!-- custom distances -->
			
				<label for="flip-custom" id='lblCustomFlip'>Custom Distance</label>
							<select name="flip-custom" id="flip-custom" data-role="slider" data-mini="true" data-track-theme="c" data-theme="c">
						        <option value="off">Off</option>
						        <option value="on">On</option>
						    </select>
			

			<!-- <fieldset data-role="controlgroup"> -->
			<div id="CustDistance" class="CustDistance hidden">
			    <legend for="txtCustDistance">Distance</legend>
			    <!-- <label for="txtCustDistance">Distance</label> -->
				<input type="text" name="txtCustDistance" id="txtCustDistance" placeholder="Enter Distance" data-clear-btn="true" value="{{txtCustDistance}}"/>

				<label for="selCustDistance" class="select">Units</label>
					<select name="selCustDistance" id="selCustDistance">
						<option value="custDistance_km">km</option>
						<option value="custDistance_miles">miles</option>
					</select>
			</div>
			<!-- </fieldset> -->

		<script>
		    $('#flip-custom').change(function() {
		    var myswitch = $(this);
		    var show     = myswitch[0].selectedIndex == 1 ? true:false;
		    var hide     = myswitch[0].selectedIndex ==1 ? false:true;
		    $('#CustDistance').toggle(show);
		    $("#PreDistance").toggle(hide);
			});
		</script>

			
			
			
			<!-- <p class="clear"> -->

			
			
			
			<input type="submit" value="Calculate" class="button cyan"/>
			<!-- <input type="button" name="clear" value="Clear" class="button cyan" onclick="ClearAllControls()"/> -->
		
			</p>

</form>
			{% if output %}
			{% if "s" in txtPace%}
			<h4>Your calculations based on {{txtPace}} per {{selUnits}} are: </h4>
			{% else %}
			<h4>Your calculations based on {{txtPace}}mins per {{selUnits}} are: </h4>
			{% endif %}

			<p class="results">
				
				{% for x in output|dictsort(by='value') %}

				<div class="{{ loop.cycle('row_odd', 'row_even') }}">{{x[0]}}<span class="time_result">{{x[1][1]}}</span></div>
				{% endfor %}<br>
			<span class="speed">Your running speed is {{speed}}km/h ({{speed_miles}}miles/h) </span>

			{%endif %}


			</p>




{% endblock %}