
<header class="main-header">
	<div class="header-inner">
<h1 class="main-title">LoneRunner<span><img src="/static/webfurniture/sole_white.png" ></span></h1>

<nav> 


 <ul>
            <li class="menu-button"><a href="#menu"></a><span class="menu_text">Menu</span><!-- <li class="menu-button cyan-flat"> -->
		        <ul>
		            <li><a  href="#">Training <span class="coming-soon">Coming New</span></a></li>
		            <li><a  href="#">Units</a></li>
		            <li><a  href="#">Share</a></li>
		            <li><a  href="#">About</a></li>
		        </ul>
	        </li> 
</ul>
</nav> 
    
</div>
</header>
<div class="clear"></div>