
<header class="main-header">
<h1 class="main-title">LoneRunner<span><img src="/static/webfurniture/sole_white.png" ></span>

<a  class="menu-button cyan-flat " href="#menu">
<span class="menu_text">Menu</span>

<!-- <nav id="menu-option">
        <ul>
            <li>
                <a class="nav1" href="#">Coming New</a>
            </li>
            <li>
                <a class="nav2" href="#">Units</a>
            </li>
            <li>
                <a class="nav3" href="#">Share</a>
            </li>
            <li>
                <a class="nav4" href="#">About</a>
            </li>
        </ul>
    </nav> -->
    </a>
</h1>
</header>
<div class="clear"></div>