{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}

<div class='inset'>
	
	<h3>What we do with your data</h3>
</div>
	<div data-role="collapsible-set" data-theme="b" data-content-theme="b" class="inset">
		<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right" data-theme="b" data-content-theme="b" >
			<legend>Privacy Policy</legend>
			<p>
			We at LoneRunner, are people just like you and we take the privacy of information you share with us very seriously.</p>
			<p>
			Anything you share with us, stays strictly between you and us. We do not affiliate with another 3rd party and will not share your information with anybody for marketing, advertising or data mining purposes.
			
			<p>
			Our servers run in the cloud, using <a target="_blank" href="https://developers.google.com/appengine/">Google App Engine</a> as a backbone, and so our data privacy and safety are governed by Google App Engine <a target="_blank" href="https://developers.google.com/appengine/terms">Terms of Service.</a>
			</p>
		</div>

		<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right" data-theme="b" data-content-theme="b" >
			<legend>Cookies</legend>
			<h4>
			What are cookies?</h4>
			<p>
			A cookie, also known as an HTTP cookie, web cookie, or browser cookie, is a small piece of data sent from a website and stored in a user's web browser while a user is browsing a website.
			</p><br>
			<h4>
			There are two types of cookies that we use.</h4>
			
			<p>1. <em>User preferences</em> - in order to calculate your results or to remember your settings preferences, we store these in your browser in a cookie. So, for instance, when you click on the &quot;Calculate&quot; button, we read this information and perform a desired action, such as calculating your calorie expenditure. The information we store is completely anonymous and is mainly limited to your preferred units (km or miles), your weight, age, etc.
			</p>
			<p>
			This means that none of this data is stored on our server and nobody, apart from you has an access to this information when not in use. 
			</p><br>
			<p>2. <em>Tracking cookies</em> - we use Google Analystics to monitor how our site performs and how often it is visited. Whilst there are some specific parameters collected, such as the type of your browser, screen resolution, type of device,  country of location these are once again completely anonymous and it is extremely unlikely that anything can be gained about the identity of the visitor. <i>Unless you are sat right next us and we know you are the only person on the site. But then again, we don't think it counts... </i></p> <br>
			<h4>
			Ensuring safety</h4>
			<p>
			As an additional layer of safety we digitally encrypt your cookies and everytime we access them, we validate their authenticity. If we detect that the cookie has been tampered with, it is instantly deleted.
			</p><br>

			
		</div>
</div>

{% endblock %}