{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}

<div class='inset'>
	<h3>Customise your preferences</h3> <!-- <span class="time" ></span> -->
</div>
<div class='inset'>

	<form method="post">
        

<!-- Local settings on pace calculator page save own cookie now.
			<div  id="rdioDefaultUnits-set" data-role="fieldcontain">
		            <fieldset data-role="controlgroup" data-type="vertical" >
		                <legend>
		                    Select default units
		                </legend>
		               
		                
		                <input id="rdioDefaultUnits_km" name="rdioDefaultUnits" tabindex="1" value="km" {{rdioDefaultUnits_km}} type="radio">
		                
		                <label for="rdioDefaultUnits_km">
		                    km
		                </label>
		                <input id="rdioDefaultUnits_miles" name="rdioDefaultUnits" tabindex="2" value="miles" {{rdioDefaultUnits_miles}} type="radio">
		                <label for="rdioDefaultUnits_miles">
		                    miles
		                </label>
		            </fieldset>
		        </div >
		        <div  id="checkboxes3" data-role="fieldcontain">
		            <fieldset data-role="controlgroup" data-type="vertical" >
		            	<legend class="collapse-legend">
		                    &nbsp;
		                </legend>
		                <input id="chkDefaultCustDist" name="chkDefaultCustDist" tabindex="3" {{chkDefaultCustDist}} type="checkbox">
		                <label for="chkDefaultCustDist">
		                    Activate custom distance
		                </label>
		            </fieldset>
		        </div > -->
 		        <div  id="defaultWeight-set"  >
			            <div data-role="fieldcontain" >
					    
			            	<label for="txtWeight" >
			                    Weight
			                </label>
			                <input id="txtWeight" name="txtWeight"  value="{{txtWeight}}" placeholder="Your weight" type="text">
			                
			            </div>
		                <div data-role="fieldcontain">

		                	<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" >
		                		<legend class="collapse-legend">&nbsp;</legend>
			                	<input id="rdioDefaultWeight_kg" name="rdioDefaultWeight" value="kg" {{rdioDefaultWeight_kg}} type="radio">
				                <label for="rdioDefaultWeight_kg">
				                    kg
				                </label>

				                <input id="rdioDefaultWeight_lb" name="rdioDefaultWeight" value="lb" {{rdioDefaultWeight_lb}} type="radio">
				                <label for="rdioDefaultWeight_lb">
				                    lb
				                </label>
				                <input id="rdioDefaultWeight_st" name="rdioDefaultWeight" value="st" {{rdioDefaultWeight_st}} type="radio">
				                <label for="rdioDefaultWeight_st">
				                    st
				                </label>
				            </fieldset>
				            {% if error_weight %}
				            <div class="message info"><i class="icon-exclamation-sign"></i><span>{{error_weight}}</span></div>
				            {% endif %}
		                </div>
		            
		        </div >
		        <br>
		        <div id="defaultAge" data-role="fieldcontain" >
					    
			            	<label for="txtAge" >
			                    Age
			                </label>
			                <input id="txtAge" name="txtAge"  value="{{txtAge}}" placeholder="Enter number only" type="text">
				            {% if error_age %}
				            <div class="message info"><i class="icon-exclamation-sign"></i><span>{{error_age}}</span></div>
				            {% endif %}
			            </div>

		        <br/>
		        <div  id="checkboxes5" data-role="fieldcontain" >
		            <fieldset data-role="controlgroup"  data-type="vertical" >
		                <legend>
		                    Gender
		                </legend>
		                <input id="rdioDefaultGender_female" name="rdioDefaultGender" value="female" {{rdioDefaultGender_female}} type="radio">
		                <label for="rdioDefaultGender_female">
		                    Female
		                </label>
		                <input id="rdioDefaultGender_male" name="rdioDefaultGender" value="male" {{rdioDefaultGender_male}} type="radio">
		                <label for="rdioDefaultGender_male">
		                    Male
		                </label>
		                <input id="rdioDefaultGender_unknown" name="rdioDefaultGender" value="unknown" {{rdioDefaultGender_unknown}} type="radio">
		                <label for="rdioDefaultGender_unknown">
		                    Not specified
		                </label>
		            </fieldset>
		        </div > 


		        
                    <div class='showastabs center nobg'>
                            <a href='#' data-rel='back' data-icon='delete' data-iconpos='left' data-role='button' data-inline='true'> Cancel</a>
                            <button type="submit" data-icon='ok' data-iconpos='left' id="save_button" tabindex="4" data-role='button' data-inline='true'>Save</button>
                            
                            <span id="response"></span>
                        
                    </div >

		    
    </div>


<script>
	$(document).on("pageinit",function() {
    	var defCustDistance = "{{chkDefaultCustDist}}";
    	var defMileUnits = "{{rdioDefaultUnits_miles}}";
    	var defGender_male = "{{rdioDefaultGender_male}}";
    	var defGender_female = "{{rdioDefaultGender_female}}";
    	
    	
    	if (defCustDistance) {
    		$('#chkDefaultCustDist').prop("checked",true);
    		$('#chkDefaultCustDist').checkboxradio('refresh');
    		
    	}
	    if (defMileUnits){
			$('#rdioDefaultUnits_miles').prop("checked",true).checkboxradio('refresh');
			
		} else {
			$('#rdioDefaultUnits_km').prop("checked",true).checkboxradio('refresh');
		}

		if (defGender_female) {
			$('#rdioDefaultGender_female').prop("checked", true).checkboxradio('refresh');
		} else if (defGender_male) {
			$('#rdioDefaultGender_male').prop("checked", true).checkboxradio('refresh');
		} else {
			$('#rdioDefaultGender_unknown').prop("checked", true).checkboxradio('refresh');
		}

		
	
});

	$(document).ready(function() {
    	var defWeightUnits = "{{rdioDefaultWeight}}";
	    if (defWeightUnits == "st"){
			$('#rdioDefaultWeight_st').prop("checked",true).checkboxradio('refresh');
			
		} else if (defWeightUnits == "lb") {
			$('#rdioDefaultWeight_lb').prop("checked",true).checkboxradio('refresh');
		} else {
			$('#rdioDefaultWeight_kg').prop("checked",true).checkboxradio('refresh');
		}
});
	

</script>
		<script>


		$('form').submit(function (){
			$("#response").text("Saved").show().fadeOut(5000);
			$("#save_button").prop("value","Saved").fadeOut(5000);
			

		});

		$(".info").show().fadeOut(5000);

		</script>
{% endblock %}

