{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}

<div class='inset'>
	<h3>Cusomise your Preferences</h3> <!-- <span class="time" ></span> -->
</div>
<div class='inset'>

	<form method="post">
        <ul data-role="listview" data-inset="true">

			<li id="rdioDefaultUnits-set" data-role="fieldcontain">
		            <fieldset data-role="controlgroup" data-type="vertical" >
		                <legend>
		                    Select default units
		                </legend>
		                <input id="rdioDefaultUnits-km" name="rdioDefaultUnits" value="km" {{kmchecked}} type="radio">
		                <label for="rdioDefaultUnits-km">
		                    km
		                </label>
		                <input id="rdioDefaultUnits-miles" name="rdioDefaultUnits" value="miles" {{mileschecked}} type="radio">
		                <label for="rdioDefaultUnits-miles">
		                    miles
		                </label>
		            </fieldset>
		        </li>
		        <li id="checkboxes3" data-role="fieldcontain">
		            <fieldset data-role="controlgroup" data-type="vertical" >
		            	<legend class="collapse-legend">
		                    &nbsp;
		                </legend>
		                <input id="checkbox3" name="chkDefaultCustDist" {{custdistancechecked}} type="checkbox">
		                <label for="checkbox3">
		                    Activate custom distance
		                </label>
		            </fieldset>
		        </li>
		        <li id="checkboxes4" data-role="fieldcontain">
		            <fieldset data-role="controlgroup" data-type="vertical" >
		            	<legend class="collapse-legend">
		                    &nbsp;
		                </legend>
		                <input id="checkbox4" name="chk4" {{chkbox4_checked}} type="checkbox">
		                <label for="checkbox4">
		                    chk3
		                </label>
		            </fieldset>
		        </li>
		        <li id="checkboxes5" data-role="fieldcontain">
		            <fieldset data-role="controlgroup" data-type="vertical" >
		                <legend>
		                    Title for checks
		                </legend>
		                <input id="checkbox5" name="chkopt1" {{chkbox5_checked}} type="checkbox">
		                <label for="checkbox5">
		                    option1
		                </label>
		                <input id="checkbox7" name="chkopt2" {{chkbox6_checked}} type="checkbox">
		                <label for="checkbox7">
		                    option2
		                </label>
		                <input id="checkbox8" name="chkopt3" {{chkbox7_checked}} type="checkbox">
		                <label for="checkbox8">
		                    option3
		                </label>
		            </fieldset>
		        </li>
		        <li>
                        <fieldset class="ui-grid-a">
                                <div class="ui-block-a"><a href="/" data-role="button"> Cancel</a><!-- <button type="submit" value="cancel" id="cancel_button" data-theme="b">Cancel</button> --></div>
                                <div class="ui-block-b"><input type="submit" id="save_button" value="Save" /> </div>
                                <span id="response"></span>
                        </fieldset>
                    </li>

		    </ul>
    </div>

		<script>


		$('form').submit(function (){
			$("#response").text("Saved").show().fadeOut(5000);
			$("#save_button").prop("value","Saved").fadeOut(5000);
			

		});

		</script>
{% endblock %}

