{% extends "base.html" %}

{% block title %}Units and Distances{% endblock %}


{% block content %}

<div class='inset'>
	
	<h3>A little bit about popular distances</h3>
</div>
<div class='inset'>
	<div data-role="collapsible-set" data-theme="b" data-content-theme="b">
		<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right" data-theme="b" data-content-theme="b">
		<legend>400m</legend>
			<p>That is the lenght (circumference) of one lap around a competition standard outdoor track, as measured in lane one.</p>
			<p>Most regulation standard (IAAF, Olympic, etc) tracks have lanes either 1.22m or 1.25m wide. But high school and college tracks are typically 42 inches wide. So what happens if you run your workout in lane 2... 3, 4, 5? Well, one thing is for sure, if you want to keep up with a runner in the innnermost lane you need to work a lot harder.</p> <br>

			<p>In fact you'll be running between 4 - 5 metres extra per lap with each lane away from the inside loop.</p> <br>
		   
		   
			<p>For example if your running pace is 5:00 min/km (8:02 min/mile) you will cover one lap in lane 1 in 02:00.0 mins. In lane 2 you'll clock 02:02.3, lane 3 - 02:04.6 , etc.</p>
		   
			<p>Looking at the same problem from the perspective of your pace, for the same 02:00 min lap i.e. 5:00 min/km in lane 1, you'll need to speed up to 4:54 min/km (7:54 min/mile) for lane 2, in lane 3 4:49 min/km (7:45 min/mile), in lane 4 4:44 min/km (7:37 min/mile),... all the way to lane 8, you'll be dashing at 4:25 min/km (7:06 min/mile). That's quite a considerable pace difference! So, the morale of the 
			story is <strong>stick to lane 1</strong> (well, at least in the bends).</p><br>
			
			
			
		</div>

		<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right">
		   <legend>1000m</legend>
		   <p>Whilst not commonly run distance at a competition level, with the exception of indoor heptathlon, it is nevertheless a standard benchmark for pace units.</p>
		   <p>The fastest time clocked for men on 1000m is 2:11.96 by a Kenyan runner Noah Ngeny set on 05.09.1999 in Rieti. For women it was Svetlana Masterkova 2:28.98, recorded in Brussels on 23rd August 1996.</p>              
			
		</div>

		<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right">
		   <legend>1500m</legend>
		   <p>Also commonly called the metric mile.</p>
		   <p>The fastest time clocked for men on 1000m is 2:11.96 by a Kenyan runner Noah Ngeny set on 05.09.1999 in Rieti. For women it was Svetlana Masterkova 2:28.98, recorded in Brussels on 23rd August 1996.</p><br>
		       
		   
		</div>

		<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right">
		   <legend>Sources</legend>
		   <p>Lap times and lap conversions <a href="http://www.eracewalk.com/CalcTrac.htm" target="_blank">eRaceWEalk.com</a></p>
		   <p>Middle distance sources <a href="http://en.wikipedia.org/wiki/Middle-distance_running#1500_m" target="_blank">Wikipedia.com</a></p>
	</div>
</div>

{% endblock %}