{% extends "base.html" %}

{% block title %}Units and Distances{% endblock %}


{% block content %}

<div class='inset'>
	
	<h3>A little bit about popular distances</h3>
</div>
<div class='inset'>
	<div data-role="collapsible-set" data-theme="b" data-content-theme="b">
		<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right" data-theme="b" data-content-theme="b">
		<legend>400m</legend>
			<div class='inset'>
			<h5>Sprint Event</h5>
			<p>A popular middle distance event. 400m is the lenght (circumference) of one lap around a competition standard outdoor track, as measured in lane one.</p>
			<p>Most regulation standard (IAAF, Olympic, etc) tracks have lanes either 1.22m or 1.25m wide. But high school and college tracks are typically 42 inches wide. So what happens if you run your workout in lane 2... 3, 4, 5? Well, one thing is for sure, if you want to keep up with a runner in the innnermost lane you need to work a lot harder.</p> <br>

			<p>In fact you'll be running between 4 - 5 metres extra per lap with each lane away from the inside loop.</p> <br>
		   
		   
			<p>For example if your running pace is 5:00 min/km (8:02 min/mile) you will cover one lap in lane 1 in 02:00.0 mins. In lane 2 you'll clock 02:02.3, lane 3 - 02:04.6 , etc.</p>
		   
			<p>Looking at the same problem from the perspective of your pace, for the same 02:00 min lap i.e. 5:00 min/km in lane 1, you'll need to speed up to 4:54 min/km (7:54 min/mile) for lane 2, in lane 3 4:49 min/km (7:45 min/mile), in lane 4 4:44 min/km (7:37 min/mile),... all the way to lane 8, you'll be dashing at 4:25 min/km (7:06 min/mile). That's quite a considerable pace difference! So, the morale of the 
			story is <strong>stick to lane 1</strong> (well, at least in the bends).</p><br>
			</div>
		</div>

		<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right">
		<legend>1000m</legend>
		<div class='inset'>
			<h5>Middle Distance Event</h5>
			<p>Whilst not commonly run distance at a competition level, with the exception of indoor heptathlon, it is nevertheless a standard benchmark for pace units.</p>
			<p>The fastest time clocked for men on 1000m is 2:11.96 by a Kenyan runner Noah Ngeny set on 05.09.1999 in Rieti. For women it was Svetlana Masterkova 2:28.98, recorded in Brussels on 23rd August 1996.</p>			
		</div>
		</div>

		<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right">
			<legend>1500m</legend>
			<div class='inset'>
			<h5>Middle Distance Event</h5>
			<p>Also commonly called the metric mile.</p>
			<p>1500m is track and field's one of the most glamorous events with races run at all major outdoor sporting events, including the Olympics.</p><br>
			<p>The race covers 3 and 3/4 laps on a 400m track and runners start at a curved starting line, to compensate for the first turn.</p><br>
		    <p>The current world record is held by Hicham El Guerrouj from Marocco in a time of 3:26.00, which was set on 14th July 1998 in Rome. That is an avegare running pace of 2:17min/km (3:41min/mile).</p>
			</div>
		</div>
		<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right">
			<legend>3000m</legend>
			<div class='inset'>
			<h5>Middle Distance Event</h5>
			<p>Distance covered by running 7.5 laps on a standard IAAF outdoor running track.</p>
			<p>3000m is either run as a flat race or as a steeplechase, requiring runners to jump over barriers and a water pit. There is a current debate, whether 3k should be classed as a middle or long distance event, as the running speeds are closer to 5k distance.</p><br>
			<p>3000m steeplechase race features 4 standrd obstacle barriers and one water pit per lap. The exception is in the first half lap, where runners are given 200m to develop their running rythm. For the whole race this means 28 obstacles and 7 water pits.</p><br>
			<p>However, the flat 3k event is now only run as an indoor race, as it has been discontinued for both male and female racing at the international level.</p>
		    <p>The current men's world record is held by Daniel Komen from Kenya in a time of 7:20.67, which was set in 1996 in Rome. The women's world record was set in 1993 in China and stands at 8:06.11.</p>
		</div>
		</div>
		<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right">
			<legend>5000m</legend>
			<div class='inset'>
			<h5>Long Distance Event</h5>
			<p>Commonly referred to as 5k (&quot;Five-k&quot;) for road and cross country running.</p>
			<p>The shorter one of the two long-distance track and field events, the 5k exercises stamina and physiolgically it is of an aerobic nature. A track and field race is usually performed from a bunched standing start, which can break immediately for the inside lane and is run over 12 1/2 laps on a 400m track.</p><br>
			<p>Very often 5k (road or cross-country race) is frequented by novice runners, for its relative short distance, yet it presents a great deal of challenge amongst professionals for its demands on aerobic endurance, speed and tactics.</p><br>
		    <p>The current world record is held by Kenenisa Bekele of Ethiopia in a time of 12:37.35, which was set on 31st May 2004 in Helgelo. That is an avegare running pace of 2:31min/km (4:04min/mile).</p>
			</div>
		</div>
		<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right">
			<legend>10000m</legend>
			<div class='inset'>
			<h5>Long Distance Event</h5>
			<p>Commonly referred to as 10k (&quot;Ten-k&quot;) for road and cross country running.</p>
			<p>Similarly to the 5000m event, 10,000m is started from a bunched start that can break for the inside lane immediately. 10,000 metres is the longest track running event that's featured in the Olympic Games and World Championship meetings and covers 25 laps on a 400m track.</p><br>
			<p>In contrast 10k is one of the most popular road running distances, attracting large public participation. This is largerly due to the fact that this distance is considered a significant challenge for an untrained runner, yet remain possible to surmount. Some races attract more that 50,000 runners, such as the <a target="_blank" href="http://www.vancouversun.com/2013sunrun/index.html">Vancouver Sun Run <i class="icon-share"></i></a>.</p><br>
		    <p>The current world record on 10,000m is held by Kenenisa Bekele of Ethiopia in a time of 26:17.53, which was set on 26th August 2004 in Brussels. That is an average running pace of 2:38min/km (4:14min/mile). Road running races are not officially recognised by world records, instead they are referred to as &quot;world's best&quot; times.</p>
		</div>
		</div>
		<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right">
			<legend>Half Marathon</legend>
			<div class='inset'>
			<h5>Road Running Event</h5>
			<p>Also commonly called the &quot;Half&quot;</p>
			<p>The Half Marathon is one of the fastest growing events in recent years. Its popularity can be attributed to lesser physical demands than the full Marathon, thus making it more accessible to the general public.</p>
		    <p>Half Marathon is usually run on roads and covers the distance of 21.097km (13.1094miles).</p>
		    <p>The official IAAF world record for men is 58:23, set by Zersenay Tadese of Eritrea on 21 March 2010 in Lisbon, and for women is 1:05:50, set by Mary Keitany of Kenya on 18 February 2011, in Ras al-Khaimah, United Arab Emirates.</p>
			</div>
		</div>
		<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right">
			<legend>Marathon</legend>
			<div class='inset'>
			<h5>Road Running Event</h5>
			<p>The marathon, an event instituted in commemoration of the fabled run of the Greek soldier Pheidippides, bringing a message of teh battle of Marathon to Athens. Nowadays, it is the premier long distance road running event, covering 42.195km (26miles 385 yards).</p>
			<p>There are many recreational marathons run every years, some sources quote over 500. Perhaps the most prestigious being the Boston Marathon. To participate runners are required to qualify, see below. </p>
		    <p>The official fastest time is held by Patrick Makau from Kenya in a time of 2:03:38hrs, which was set on 25th September 2011 in Berlin. The female world record is held by british runner Paula Radcliffe in time 2:15:25 set in London on 13th April 2003.</p><br>
			
			<div>
			<span>Qualifying times for Boston Marathon 2013</span>
			    <table data-role="table" id="boston-qualifiers" data-mode="reflow" data-column-btn-text="" class="ui-responsive table-stroke">
				 <thead>
				  <tr>
				   <th>Age</th>
				   <th>Men</th>
				   <th>Women</th>
				  </tr>
				 </thead>
				 <tbody>
				  <tr>
				   <th>18-34</th>
				   <td>3:05:00</td>
				   <td>3:35:00</td>
				  </tr>
				   <tr>
				   <th>35-39</th>
				   <td>3:10:00</td>
				   <td>3:40:00</td>
				  </tr>
				<tr>
				   <th>40-44</th>
				   <td>3:15:00</td>
				   <td>3:45:00</td>
				  </tr>
				<tr>
				   <th>45-49</th>
				   <td>3:25:00</td>
				   <td>3:55:00</td>
				  </tr>
				<tr>
				   <th>50-54</th>
				   <td>3:30:00</td>
				   <td>4:00:00</td>
				  </tr>
				<tr>
				   <th>55-59</th>
				   <td>3:40:00</td>
				   <td>4:10:00</td>
				  </tr>
				<tr>
				   <th>60-64</th>
				   <td>3:55:00</td>
				   <td>4:25:00</td>
				  </tr>
				<tr>
				   <th>65-69</th>
				   <td>4:10:00</td>
				   <td>4:40:00</td>
				  </tr>
				<tr>
				   <th>70-64</th>
				   <td>4:25:00</td>
				   <td>4:55:00</td>
				  </tr>
				<tr>
				   <th>75-79</th>
				   <td>4:40:00</td>
				   <td>5:10:00</td>
				  </tr>
				<tr>
				   <th>80+</th>
				   <td>4:55:00</td>
				   <td>5:25:00</td>
				  </tr>
				 </tbody>
				</table>
			</div>
			</div>
		</div>
		<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right">
			<legend>Sources</legend>
			<div class='inset'>
			<p><a href="http://www.eracewalk.com/CalcTrac.htm" target="_blank">Lap times and lap conversions</a> eRaceWEalk.com</p>
			<p><a href="http://en.wikipedia.org/wiki/1500_metres" target="_blank">Middle distance sources</a> Wikipedia.com</p>
			<p><a href="http://en.wikipedia.org/wiki/Middle-distance_running#1500_m" target="_blank">1500 metres</a> Wikipedia.com</p>
			<p><a href="http://en.wikipedia.org/wiki/5000_metres" target="_blank">5000 metres</a> Wikipedia.com</p>
			<p><a href="http://www.iaaf.org/disciplines/middlelong/5000-metres" target="_blank">5000 metres</a> IAAF.org</p>
			<p><a href="http://www.iaaf.org/disciplines/middlelong/10000-metres" target="_blank">10,000 metres</a> IAAF.org</p>
			<p><a href="http://en.wikipedia.org/wiki/Track_and_field#Running" target="_blank">Track and field running</a> Wikipedia.com</p>
			<p><a href="http://www.vancouversun.com/2013sunrun/event/History/5617152/story.html" target="_blank">History Vancouver Sun Run</a> Vancouver Sun Run</p>
			<p><a href="http://en.wikipedia.org/wiki/Half-marathon" target="_blank">Half marathon</a> Wikipedia.com</p>
			<p><a href="http://en.wikipedia.org/wiki/Marathon" target="_blank">Marathon</a> Wikipedia.com</p>
			<p><a href="http://trackandfield.about.com/od/middledistance/p/middledistance.htm" target="_blank">Introduction to Middle Distance Running</a> trackandfield.about.com</p>
			</div>
		</div>
</div>

{% endblock %}